body {
  color: #444;
  background: #d2e1ff;
  display: flex;
  flex-basis: 1;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.contact-form-page {
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: breakpoint-min(xs, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
    .contact-form-page {
      padding: 6px; } }
  @media (min-width: breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
    .contact-form-page {
      padding: 6px; } }
  @media (min-width: breakpoint-min(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
    .contact-form-page {
      padding: 6px; } }
  @media (min-width: breakpoint-min(lg, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
    .contact-form-page {
      padding: 6px; } }
  @media (min-width: breakpoint-min(xl, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
    .contact-form-page {
      padding: 6px; } }
  @media (min-width: breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
    .contact-form-page {
      width: 540px;
      max-width: 100%; } }
  @media (min-width: breakpoint-min(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
    .contact-form-page {
      width: 600px;
      max-width: 100%; } }
  @media (min-width: breakpoint-min(lg, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
    .contact-form-page {
      width: 700px;
      max-width: 100%; } }
  @media (min-width: breakpoint-min(xl, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
    .contact-form-page {
      width: 1000px;
      max-width: 100%; } }
  .contact-form-page--step {
    background: #ffd500;
    background: -webkit-linear-gradient(#ffd500, #eea30e);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffd500, #eea30e);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffd500, #eea30e);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffd500, #eea30e);
    /* Standard syntax */
    color: #fff;
    text-shadow: 1px 1px #444;
    border-radius: 15px; }
  .contact-form-page--section {
    background: #dedede;
    border-radius: 15px;
    height: auto;
    transition: height 500ms; }
  .contact-form-page--inner-section {
    -webkit-animation: fade-in 1s;
    /* Safari 4+ */
    -moz-animation: fade-in 1s;
    /* Fx 5+ */
    -o-animation: fade-in 1s;
    /* Opera 12+ */
    animation: fade-in 1s;
    /* IE 10+, Fx 29+ */ }
  .contact-form-page button {
    background: -webkit-linear-gradient(#474eaf, #7162ca);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#474eaf, #7162ca);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#474eaf, #7162ca);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#474eaf, #7162ca);
    /* Standard syntax */
    border-radius: 10px; }
    .contact-form-page button:hover {
      opacity: 0.9; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.u-faux-block-link {
  position: relative; }

.u-faux-block-link a,
.u-faux-block-link abbr[title],
.u-faux-block-link__promote {
  position: relative;
  z-index: 1; }

.u-faux-block-link__overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  background: transparent; }

a.u-faux-block-link__overlay {
  position: absolute;
  z-index: 0;
  opacity: 0; }
  a.u-faux-block-link__overlay:focus {
    outline: none; }

.u-faux-block-link--hover .u-faux-block-link__cta {
  text-decoration: underline; }

.is-invalid {
  border-color: #d9534f; }

.invalid-feedback {
  color: #d9534f; }

label {
  white-space: nowrap; }

.closed {
  height: 0px; }
  .closed div * {
    display: none; }

input.form-control, select, textarea {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset 2px 2px 15px 0px rgba(100, 100, 100, 0.6);
  -webkit-box-shadow: inset 2px 2px 15px 0px rgba(100, 100, 100, 0.6);
  box-shadow: inset 2px 2px 15px 0px rgba(100, 100, 100, 0.6); }
